html, body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    color: rgb(32, 58, 173);
    font-size: 5vw;
    letter-spacing: 6px;
  }
  p1{
    color: rgb(74, 14, 129);
    font-weight: 200;
    font-style: oblique;
  }
  
  .pad {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .box {
    width: 200px;
    height: 50px;
    margin: 10px 0;
    box-shadow: 0 8px 6px -6px rgb(30, 59, 187);
    background-color: rgb(43, 41, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
    border: 4px solid;
    
  }
  
  .box:hover {
      background-color: lighten(rgb(218, 71, 71), 10%);
      cursor: pointer;
    }
    
   .box:active {
      background-color: darken(rgb(104, 49, 49), 10%);
      transform: scale(1.1);
      transition: all .2s;
    }
  
  .active {
    background-color: darken(rgb(160, 65, 65), 10%);
    transform: scale(1.1);
    transition: all .2s;
  }